@import '../utils/include';

.todo__wrapper {
  border-radius: 0.3125rem;
  box-shadow: $box-shadow;
  background: $bg-todo;
  transition: background 1s;

  .todo__footer {
    display: flex;
    justify-content: space-between;
    color: $c-blue-grayish-dark;
    padding: 0.9rem 1.5rem;
    font-size: 0.825rem;
    position: relative;

    &-tabs {
      display: inline-flex; 

      @include breakpoint-down(medium){
        position: absolute;
        left: 0;
        top: 4rem;
        box-shadow: $box-shadow;
        background: $bg-todo;
        width: 100%;
        margin: 0 auto 30px;
        padding: 20px;
        border-radius: 0.3125rem;
        align-items: center;
        justify-content: center;
        transition: color 250ms ease-in,
              background 1s;
      }

      &-item {
        font-family: $font-family;
        font-weight: 700;
        font-size: $font-sm;
        color: $c-blue-grayish-dark;;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 250ms ease-in;
      
        &:not(:last-child) {
          margin-right: 1rem;
        }
      
        &:hover {
          color: $text-color;
        }
      
        &.active {
          color: $brightBlue;
        }
      }
    }

    &-cta {
      font-size: 0.875rem;
      font-family: $font-family;
      color: $c-blue-grayish-dark;;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 250ms ease-in;

      &:focus {
        outline: none;
        opacity: 1;
      }

      &:hover {
        color: $text-color;
      }
    }
  }
}

.todo__instruction {
  text-align: center;
  margin-top: 2.5rem;
  color: $c-blue-grayish-dark;
  font-size: 0.875rem;
  transition: color 300ms ease-in;
  
  @include breakpoint-down(medium){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3.75rem;
  }
  
}
